# IDE and Editor Files
.idea/
.vscode/

# Python Build Artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
*.venv

# Test/Cache Files
.pytest_cache/

# Documentation/Readmes (if not meant for version control)
.readmes/

# Application-Specific Files
app/.env
app/config/api-project.json

# Misc Files/Directories
misc/

# Git-related Files (usually automatically ignored)
*.git



