# IDE and Editor Files
.idea/
.vscode/

# Python Build Artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
*.venv

# Test/Cache Files
.pytest_cache/

# Documentation/Readmes (if not meant for version control)
.readmes/

# Application-Specific Files
app/.env
app/config/api-project.json

# Misc Files/Directories
misc/

# Git-related Files (usually automatically ignored)
*.git

# Script files
combine_script.py
app/master.py

master.txt
app/config/config.py
app/resources/templates/market_research.txt
app/config/api-project-37.json
docs/
app/resources/templates/feedback.txt
feedback.txt
CHANGELOG.md
app/tests/
